
@{
    ViewBag.Title = "SecondPublication";
    //Layout = null;
}



    <title>Bootstrap Framework</title>
    <link rel="icon" href="~/css/img/left-image.png">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/blog.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto my-2 my-lg-0 mr-5">
                    <li class="nav-item active">
                        <a class="nav-link font-weight-bold" href="FirstPublication">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="SecondPublication">Layout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" href="ThirdPublication">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-auto">
                        <h2 class="text-center mt-5">Cards</h2>
                        <hr class="hr-line">

                        <div class="row row-cols-1 row-cols-md-2">
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/css/img/colors.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Colors</h5>
                                        <p class="card-text">Convey meaning through color with a handful of color utility classes. Includes support for styling links with hover states, too.</p>
                                        <div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
                                        <div class="p-3 mb-2 bg-warning  text-white">.bg-secondary</div>
                                        <div class="p-3 mb-2 bg-success text-white">.bg-success</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/css/img/display.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Display</h5>
                                        <p class="card-text">Quickly and responsively toggle the display value of components and more with our display utilities.</p>
                                        <div class="d-inline p-2 bg-primary text-white">d-inline</div>
                                        <div class="d-inline p-2 bg-dark text-white">d-inline</div>
                                        <div class="d-inline p-2 bg-primary text-white">d-inline</div>
                                        <div class="d-inline p-2 bg-dark text-white">d-inline</div>
                                        <div class="mt-5">
                                            <span class="d-block p-2 bg-primary text-white">d-block</span>
                                            <span class="d-block p-2 bg-dark text-white">d-block</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/css/img/flexbox.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Flex</h5>
                                        <p class="card-text">Flexbox can do some pretty awesome things when you mix flex alignments with auto margins. Shown below are three examples of controlling flex items via auto margins.</p>
                                        <div>
                                            <div class="d-flex bd-highlight mb-3">
                                                <div class="p-2 bd-highlight bg-success">Flex item</div>
                                                <div class="p-2 bd-highlight bg-warning">Flex item</div>
                                                <div class="p-2 bd-highlight bg-danger">Flex item</div>
                                            </div>
                                            <div class="d-flex bd-highlight mb-3">
                                                <div class="mr-auto p-2 bd-highlight bg-success">Flex item</div>
                                                <div class="p-2 bd-highlight bg-warning">Flex item</div>
                                                <div class="p-2 bd-highlight bg-danger">Flex item</div>
                                            </div>

                                            <div class="d-flex bd-highlight mb-3">
                                                <div class="p-2 bd-highlight bg-success">Flex item</div>
                                                <div class="p-2 bd-highlight bg-warning">Flex item</div>
                                                <div class="ml-auto p-2 bd-highlight bg-danger">Flex item</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-4">
                                <div class="card">
                                    <img src="~/css/img/list-group.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">List group</h5>
                                        <p class="card-text">List groups are a flexible and powerful component for displaying a series of content.</p>
                                        <div>
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    HTML
                                                    <span class="badge badge-primary badge-pill">1</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    CSS
                                                    <span class="badge badge-primary badge-pill">2</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    JavaScript
                                                    <span class="badge badge-primary badge-pill">3</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center flex-wrap mt-5">
                        <div class="card border-primary mb-3 card2">
                            <div class="card-header">Shadows</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title ">Add or remove shadows to elements with box-shadow utilities.</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="shadow-none p-3 mb-3 bg-light rounded">No shadow</div>
                                <div class="shadow-sm p-3 mb-3 bg-white rounded">Small shadow</div>
                                <div class="shadow p-3 mb-3 bg-white rounded">Regular shadow</div>
                                <div class="shadow-lg p-3 mb-3 bg-white rounded">Larger shadow</div>
                            </div>
                        </div>

                        <div class="card border-success mb-3 card3">
                            <div class="card-header bg-transparent border-success">Overflow</div>
                            <div class="card-body text-success">
                                <h5 class="card-title">Quickly configuring how content overflows an element</h5>
                                <p class="card-text pb-0">Barebones <b>overflow</b> functionality is provided for two values by default, and they are not responsive.</p>
                                <div class="overflow-y border border-dark p-2" style="height: 50px; overflow-y: scroll;">
                                    This is an example of using <b>.overflow-auto</b> on an element with set width and height dimensions. By design, this content will vertically scroll.

                                </div>
                            </div>
                            <div class="card-footer bg-transparent border-success">More information soon...</div>
                        </div>

                        <div class="card card4">
                            <div class="card-body">
                                <h5 class="card-title">Spacing</h5>
                                <p class="card-text">Assign responsive-friendly margin or padding values to an element or a subset of its sides with shorthand classes.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b class="text-danger">m</b> - for classes that set <b class="text-danger">margin</b></li>
                                <li class="list-group-item">
                                    <b class="text-danger">p</b> - for classes that set <b class="text-danger">padding</b>
                                </li>
                                <li class="list-group-item"><b class="text-danger">.mx-auto</b> class for horizontally centering</li>
                            </ul>
                            <div class="card-body justify-content-center">
                                <a href="#" class="card-link">Read more</a>
                                <a href="#" class="card-link">Watch video</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-xl-8">
                        <div class="card-deck mb-5">
                            <div class="card">
                                <img src="~/css/img/buttons.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Buttons</h5>
                                    <p class="card-text">Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</p>
                                    <button type="button" class="btn btn-success m-1">Success</button>
                                    <button type="button" class="btn btn-danger m-1">Danger</button>
                                    <button type="button" class="btn btn-warning m-1">Warning</button>
                                    <button type="button" class="btn btn-info m-1">Info</button>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card">
                                <img src="~/css/img/button-group.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Button group</h5>
                                    <p class="card-text">Group a series of buttons together on a single line with the button group.</p>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-warning">Left</button>
                                        <button type="button" class="btn btn-warning">Middle</button>
                                        <button type="button" class="btn btn-warning">Right</button>
                                    </div>
                                    <div class="btn-group mt-2" role="group" aria-label="Button group with nested dropdown">
                                        <button type="button" class="btn btn-dark">1</button>
                                        <button type="button" class="btn btn-dark">2</button>

                                        <div class="btn-group" role="group">
                                            <button id="btnGroupDrop1" type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Dropdown
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col btn-group-vertical mt-2">
                                        <button type="button" class="btn btn-info">Apple</button>
                                        <button type="button" class="btn btn-info">Samsung</button>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                                Sony
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Tablet</a>
                                                <a class="dropdown-item" href="#">Smartphone</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card">
                                <img src="~/css/img/collapse.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Collapse</h5>
                                    <p class="card-text">The collapse JavaScript plugin is used to show and hide content.</p>
                                    <p>
                                        <a class="btn btn-primary mt-2" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle element</a>
                                    </p>
                                    <div class="row">
                                        <div>
                                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                                <div class="card card-body">
                                                    You can use a link with the href attribute, or a button with the data-target attribute.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                        </div>

                        <section class="container mt-5 mb-5">
                            <h2 class="text-center mt-5">LIST GROUP</h2>
                            <hr class="hr-line mb-5">
                            <div class="row mt-5">
                                <div class="col-4">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Tables</a>
                                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Alerts</a>
                                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Toasts</a>
                                        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Jumbotron</a>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                            <table class="table table-striped table-bordered table-hover table-light">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">First</th>
                                                        <th scope="col">Last</th>
                                                        <th scope="col">Handle</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Mark</td>
                                                        <td>Otto</td>
                                                        <td>mdo</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Jacob</td>
                                                        <td>Thornton</td>
                                                        <td>burgerking</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Larry</td>
                                                        <td>the Bird</td>
                                                        <td>twitter</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                            <div class="alert alert-primary" role="alert">
                                                A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                                            </div>

                                            <div class="alert alert-success" role="alert">
                                                <h4 class="alert-heading">Well done!</h4>
                                                <p>Aww yeah, you successfully read this important alert message.</p>
                                                <hr>
                                                <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                                            </div>

                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <strong>Holy guacamole!</strong> You should check in on some of those fields below.
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">

                                            <div class="toast" data-autohide="false">
                                                <div class="toast-header">
                                                    <img src="~/css/img/left-image.png" width="10" class="rounded mr-2" alt="...">
                                                    <strong class="mr-auto">Bootstrap</strong>
                                                    <small class="text-muted">11 mins ago</small>
                                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="toast-body">
                                                    Hello, world! This is a toast message.
                                                </div>
                                            </div>

                                            <div class="toast" data-autohide="false">
                                                <div class="toast-header">
                                                    <img src="~/css/img/left-image.png" width="10" class="rounded mr-2" alt="...">
                                                    <strong class="mr-auto">Bootstrap</strong>
                                                    <small class="text-muted">9 mins ago</small>
                                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                                                </div>
                                                <div class="toast-body">
                                                    Hello, world! This is a toast message.
                                                </div>
                                            </div>

                                            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center">
                                                <div class="toast" data-autohide="false">
                                                    <div class="toast-header">
                                                        <img src="~/css/img/left-image.png" width="10" class="rounded mr-2" alt="...">
                                                        <strong class="mr-auto">Bootstrap</strong>
                                                        <small class="text-muted">5 mins ago</small>
                                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                                                    </div>
                                                    <div class="toast-body">
                                                        Hello, world! This is a toast message.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">

                                            <div class="jumbotron">
                                                <h1 class="display-4">Hello, world!</h1>
                                                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                                <hr class="my-4">
                                                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                                                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!--Странична лента-->
                    <div class="col d-flex justify-content-center flex-wrap ">
                        <div class="card bg-light mb-3 card1">
                            <div class="card-header">Popovers</div>
                            <div class="card-body">
                                <h5 class="card-title">Directions</h5>
                                <p class="card-text">Four options are available: top, right, bottom, and left aligned.</p>
                                <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Popover on left</button>
                                <button type="button" class="btn btn-lg btn-danger mt-2" data-container="body" data-toggle="popover" data-placement="top" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                                    Popover on top
                                </button>
                                <button type="button" class="btn btn-lg btn-danger mt-2" data-container="body" data-toggle="popover" data-placement="bottom" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                                    Popover on bottom
                                </button>
                            </div>
                        </div>
                        <div class="card bg-light mb-3 card1">
                            <div class="card-header">Forms</div>
                            <div class="card-body">
                                <h5 class="card-title">Horizontal form</h5>
                                <p class="card-text">Create horizontal forms with the grid by adding the <b>.row</b> class to form groups and using the <b>.col-*-*</b> classes to specify the width of your labels and controls.</p>
                                <form>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="row-form-label">Email</label>
                                        <div class="col-sm-12">
                                            <input type="email" class="form-control" id="inputEmail3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPassword3" class="row-form-label">Password</label>
                                        <div class="col-sm-12">
                                            <input type="password" class="form-control" id="inputPassword3">
                                        </div>
                                    </div>
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <p class="row-form-label pt-0">Radios</p>
                                            <p class="row-form-label pt-0">Radios</p>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                                    <label class="form-check-label" for="gridRadios1">
                                                        First radio
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Second radio
                                                    </label>
                                                </div>
                                                <div class="form-check disabled">
                                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                                                    <label class="form-check-label" for="gridRadios3">
                                                        Third disabled radio
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-group row">
                                        <div class="row-form-label">Checkbox</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck1">
                                                <label class="form-check-label" for="gridCheck1">
                                                    Example checkbox
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div id="contact" class="container">
            <h2 class="text-center">CONTACT US</h2>
            <hr class="hr-line">
            <div class="row">
                <div class="col-sm-5">
                    <h3>Here is where you can find us.</h3>
                    <p><i class="fa fa-map-pin"></i>Bul. Bulgaria 256 B, Plovdiv</p>
                    <p><i class="fa fa-phone"></i>456-500-777</p>
                    <p><i class="fa fa-envelope"></i> student@gmail.com</p>

                    <div class="social-media-buttons">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Your Name</label>
                            <input class="form-control" id="name" name="name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Your Email</label>
                            <input class="form-control" id="email" name="email" type="email" required>
                        </div>
                    </div>
                    <label>Comment</label>
                    <textarea class="form-control" id="comments" name="comments" rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-default pull-right submit" type="submit">Send Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
